* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
}

.board {
    position: relative;
    display: grid;
    border-radius: 3px;
    overflow: hidden;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    user-select: none;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
}

.board, .non-board {
    max-width: 550px;
    max-height: 550px;
    width: 100%;
    height: 100%;
}

.b {
    /*background-color: #008080;*/
    background-color: #739552;
}

.w {
    /*background-color: #CCCCCC;*/
    background-color: #ebecd0;
}

.b .rank, .b .file {
    /*color: #008080;*/
    color: #ebecd0;
}

.w .rank, .w .file {
    /*color: #CCCCCC;*/
    color: #739552;
}

.b, .w {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
}

.whitePce {
}

.blackPce {
}

.blackPce, .whitePce {
    cursor: pointer;
}

.rank, .file {
    position: absolute;
    font-family: sans-serif;
    font-size: 14px;
}

.rank {
    top: 3px;
    left: 3px;
}

.file {
    bottom: 3px;
    right: 5px;
}

.board > .square.active:has(.blackPce) {
    background-color: crimson;
}

.square.selected {
    outline: 4px solid #CCC;
    outline-offset: -4px;
}

.non-board {
    padding-block: 10px;
}

.fen {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#fen-txt {
    width: 400px;
    height: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background-color: #333;
    outline: none !important;
    padding-left: 5px;
    color: white;
}

#fen-btn {
    width: 100px;
    height: 30px;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 5px;
    background-color: #739552;
    outline: none !important;
    color: white;
    cursor: pointer;
}

.print-table {
    position: fixed;
    inset: 0;
    color: white;
    background-color: #1f1f1f;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    z-index: 99999;
}

.print-table table {
    width: 50%;
    height: 50%;
    text-align: center;
    border-spacing: 10px;
}

.float {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: none;
    z-index: 1000;
    transition: all .1s ease;
}

.w.active, .b.active {
    background-image: url('dot-single.svg');
}
